@font-face {
  font-family: "Reg";
  src: url('/static/fonts/Nunito-Regular.ttf');
};

@font-face {
  font-family: "Bold";
  src: url('/static/fonts/Nunito-Bold.ttf');
};

@font-face {
  font-family: "Light";
  src: url('/static/fonts/Nunito-Light.ttf');
};

@font-face {
  font-family: "Semibold";
  src: url('/static/fonts/Nunito-Semibold.ttf');
};

