@import "resets";
@import "libs";
@import "fonts";
@import "vars";
@import "mixins";

.wrapper {
  @extend %wrp;
}

.top_nav {
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: baseline;

  @media screen and (max-width: $tableWidth) {
    flex-direction: column;
  }

  .text_logo {
    font-family: Bold, sans, serif;
    font-size: 1.5em;
    color: black;

  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: $tableWidth) {
      flex-direction: column;
      font-size: larger;
    }

  }

  a {
    font-family: Reg;
    color: black;
    padding: 0 0.5em;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }

    @media screen and (max-width: $tableWidth) {
      margin: 0.3em 0;
    }
  }

  .login {
    background-color: $baseColorDark;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    color: white;
    @media screen and (max-width: $tableWidth) {
      margin: 0.3em 0;
    }
  }
}

.promo {


  &__slogan {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

h1 {
  top: 5px;
}


